h1{
    text-align: center;
}

section{
    background-color: lightpink;
}

h2{
    border: solid;
    border-width: 1px;
    font-size: 40px;
    display: inline-block;
    background-color: rgb(135, 243, 189);
}
th{
    font-size: 40px;
    background-color: lightgreen;
    display: inline-block;
}
header{
    font-size: 25px;
}

td{
    font-size: 20px;
}
table{
    display: inline-block;
    background-color: rgb(219, 217, 217);
    margin: 20px;
    width: 220px;
    height: 175px;
    width: 225px;
}
.img1{
    width: 125px;
    display: inline-block;
    padding: 20px;
}
.img2{
    width: 280px;
    display: inline-block;
    padding: 20px;
}
body{
    background-color: rgb(250, 229, 189);
}